asgiref
attrs
cached-property
cachetools
certifi
celery
charset-normalizer
cycler
python-decouple
Django
django-storages
djangorestframework
idna
isodate
kiwisolver
lxml
numpy
packaging
pandas
patsy
patool
unrar
pyunpack
Pillow
platformdirs
plotly
protobuf
psycopg2
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
requests
requests-file
requests-toolbelt
redis
rsa
scipy
six
sqlparse
tenacity
urllib3
zeep
django-crispy-forms
stringdist
