{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card border-bottom-0">
    <div class="card-body">
        <p class="info-text">
            <b>Здесь вы можете сформировать запрос на поиск резюме кандидатов.</b>
            <br/>
            <i>
                Заполните поля формы (* - обязательные поля) и нажмите кнопку «Отправить».
                Системе понадобится 15-20 мин. чтобы обработать запрос,
                после чего вам на почту придет уведомление с ссылкой.
            </i>
        </p>
        <hr>
        <form action='.' method='POST' class="form-md">
            <div class="row">
                <div class="col-6 pr-5">
                    {% csrf_token %}

                    {{ second_form.text|as_crispy_field }}
                    {{ form|crispy}}
                    {{ second_form.salary_to|as_crispy_field }}
                    {{ second_form.area|as_crispy_field }}
                    {{ second_form.experience|as_crispy_field }}
                    {{ second_form.skill|as_crispy_field }}
                    {{ second_form.education|as_crispy_field }}
                    {{ second_form.citizenship|as_crispy_field }}
                    {{ second_form.work_ticket|as_crispy_field }}
                </div>

                <div class="col-6 pl-5">
                    {{ second_form.age_from|as_crispy_field }}
                    {{ second_form.age_to|as_crispy_field }}
                    {{ second_form.gender|as_crispy_field }}

                    <label>Тип занятости</label>
                    <div class="checkbox-container">
                        {{ second_form.employment_full|as_crispy_field }}
                        {{ second_form.employment_part|as_crispy_field }}
                        {{ second_form.employment_project|as_crispy_field }}
                        {{ second_form.employment_volunteer|as_crispy_field }}
                        {{ second_form.employment_probation|as_crispy_field }}
                    </div>

                    <label>График работы</label>
                    <div class="checkbox-container">
                        {{ second_form.schedule_fullday|as_crispy_field }}
                        {{ second_form.schedule_shift|as_crispy_field }}
                        {{ second_form.schedule_flexible|as_crispy_field }}
                        {{ second_form.schedule_remote|as_crispy_field }}
                        {{ second_form.schedule_flyinflyout|as_crispy_field }}
                    </div>

                    <label>Знание языков</label>
                    {{ second_form.language|as_crispy_field }}
                    {{ second_form.level|as_crispy_field }}

                </div>
            </div>

            <div class="text-right">
                <button onclick="myFunction()" type="submit" class='btn btn-outline-success'>Отправить</button>
                <script>
                function myFunction() {
                  var txt;
                  if (confirm("Ваш запрос принят в обработку! Ожидайте уведомление о выполнении на почту.")) {
                    txt = "You pressed OK!";
                  } else {
                      txt = "You pressed Cancel!";
                  }
                }
                </script>
            </div>

        </form>
        <hr>
    </div>
</div>



{% endblock %}