{% extends "base.html" %}

<!--    {% block title %} Список{% endblock %}-->
    {% block content %}
            <div class="card">
                <div class="card-body">
                    <p class="info-text">
                        <b>Здесь находятся все запросы, которые вы делали в системе.</b>
                        <br/>
                        <i>
                            Вы можете перейти к резюме кандидатов, редактировать запрос и запустить его заново, либо полностью удалить запрос.
                        </i>
                    </p>
                    <hr>
                    <table id="dtBasicExample" class="table table-striped table-bordered table-hover table-sm" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Ключевые слова</th>
                            <th>Статус запроса</th>
                            <th>Время изменения</th>
                            <th>Количество резюме</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in table_list %}
                        <tr align = "center">
                            <td>{{ i.children.text }}</td>
                            <td>{{ i.status }}</td>
                            <td>{{ i.dtexec }}</td>
                            <td>{{ i.cntres }}</td>
                            <td class="text-center">
                                <a type="button" class="btn btn-outline-success" href="{%  url 'data' i.id %}">Посмотреть резюме</a>
                                <a type="button" class="btn btn-outline-info" href="{%  url 'update' i.id %}">Редактировать</a>
                                <a type="button" class="btn btn-outline-danger" href="{%  url 'delete' i.id %}" >Удалить</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    {% endblock %}
